<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doug.cashflow">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="25" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".controller.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.InputPagerActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".controller.OutputPagerActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".controller.HelpPagerActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".controller.FileReadActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".TestRoboActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
